<div class="sidebar">
  <a class="active" href="/Product/Index/">Ürünler</a>
  <a href="#news">Müşteriler</a>
  <a href="#contact">Kategoriler</a>
  <a href="/Product/AddProduct/">Yeni Ürün girişi</a>
  <a href="#about">Çıkış</a>
</div>