<div class="sidebar">
  <a href="/Product/Index/">Ürünler</a>
  <a href="/Customer/Index/">Müşteriler</a>
  <a href="#contact">Kategoriler</a>
  <a href="/Product/AddProduct/">Yeni Ürün girişi</a>
  <a href="#about">Çıkış</a>
</div>