
@model EntityLayer.Concrete.Job
@{
    ViewData["Title"] = "AddJob";
    Layout = "~/Views/Shared/_UILayout.cshtml";
}



<head>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<h1>Meslek Ekleme</h1>
<form method="post">
    @Html.Label("Meslek Adı")
    @Html.TextBoxFor(x=>x.Name, new {@class="form-control"})
    @Html.ValidationMessageFor(x=>x.Name)
    <br />
    <button class="brn btn-outline-primary">Meslek Ekle</button>
</form>